//=/// require "bootstrap_variables"

@import "bootstrap_and_overrides"

@import "fonts"
@import "animations"
@import "fileupload"
@import "sign_in"

html, body
  height: 100%

body
  background-image: image-url('noise.png')
  text-shadow: 0 1px 3px rgba(0,0,0,.7)

ul.upload-tabs
  padding: 0px
  margin-bottom: 30px
  > li
    list-style: none
    display: inline
    margin: 5px

.navbar-header
  float: none

.upload-form
  width: 400px
  left: 50%
  margin-left: -200px

.wrapper
  display: table
  background: rgba(1, 113, 163, 0.4)
  //rgba(74, 73, 41, 0.6)
  width: 100%
  height: 100%
  min-height: 100%
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.7)
  box-shadow: inset 0 0 100px rgba(0,0,0,.7)

label
  font-weight: 300

footer
  font-weight: 300
  font-size: 16px
  width: 100%
  position: fixed
  bottom: 0
  text-align: center

.header-nav
  padding-top: 4px
  padding-left: 40px
  text-align: center

.user-nav
  text-align: center

.header-nav > li, .user-nav > li
  display: inline-block
  & + li
    margin-left: 30px

.header-nav > li > a
  padding-bottom: 5px
  padding-right: 0
  padding-left: 0
  color: $gray-lighter
  border-bottom: 3px solid transparent
  &.active
    border-bottom-color: $gray-lighter
  &:hover, &:focus, &:active
    color: $gray-lighter
    background-color: transparent
    border-bottom-color: $gray-lighter

.header-nav > .active > a,
.header-nav > .active > a:hover,
.header-nav > .active > a:focus
  color: #fff
  border-bottom-color: #fff


.btn-transparent
  //font-weight: 300
  background-color: transparent
  color: $gray-lighter
  &:hover
    background-color: rgba(255,255,255,0.1) !important
    color: $gray-lighter
  &:focus
    color: $gray-lighter !important
    background-color: rgba(255,255,255,0.1) !important
    outline: 0 !important
  &:active, &.active
    color: $gray-darker !important
    background-color: rgba(255, 255, 255, 0.4) !important

.alert
  background-color: transparent
  border-color: transparent
  font-size: 32px
  padding-top: 220px
  color: $gray-lighter !important
  background-position: top center !important
  &.alert-success
    background: image-url('happy-steve.png') no-repeat
    //color: #2AA61D
  &.alert-warning
    background: image-url('embarassed-steve.png') no-repeat
  &.alert-danger
    background: image-url('angry-steve.png') no-repeat
  &.alert-info
    background: image-url('pocker-steve.png') no-repeat
    //background-position: top center
    //color: #2AA61D
  .close
    color: $gray-lighter
    float: none
    padding-left: 5px
    top: -10px
    right: inherit
    opacity: 0.7
    font-size: 32px


.user-nav > li
  padding-top: $navbar-height / 2 - 20px

a.navbar-brand
  padding: 3px 10px !important

.wrapper-inner
  display: table-cell
  vertical-align: top

.content-container
  margin-right: auto
  margin-left: auto

.jumbotron
  margin-top: 170px

.content-inner
  text-align: center
  padding: 30px
  vertical-align: middle
  margin-top: 60px

header
  position: absolute !important
  top: 0 !important
  width: 100%
  text-align: center
  .navbar
    margin-left: auto
    margin-right: auto

table.table
  white-space: nowrap
  font-family: 'Roboto Slab', serif
  color: $gray-darker
  text-shadow: none
  font-size: 14px
  //font-weight: 300
  tr:nth-child(even)
    background-color: rgba(255,255,255,0.5)
  tr:nth-child(odd)
    background-color: rgba(255,255,255,0.7)
  tr:first-child
    font-family: $font-family-base
    font-size: $font-size-base
    color: $gray-lighter
    background-color: transparent
    th
      font-weight: 400
  td
    text-align: left
    button + button
      margin-left: 5px
  td.actions
    .btn + .btn
      margin-left: 5px
    text-align: center
  .btn
    font-family: $font-family-base
  & > tbody > tr > td
    vertical-align: middle !important
    span.glyphicon
      margin-left: 5px

.zhf-description
  background: image-url('angry-steve-logo.png') no-repeat
  background-size: 266px
  background-position: left top
  padding-left: 310px
  h1
    color: $gray-lighter
  text-align: left


@media (min-width: 200px)
  .zhf-description
    background-size: 150px
    padding-left: 170px
    h1
      font-size: 24px
    p
      font-size: 16px

@media (min-width: 768px)
  .wrapper-inner
    vertical-align: middle

  .navbar
    width: 100%

  .content-container
    width: 100%

  .zhf-description
    background-size: 200px
    padding-left: 250px
    h1
      font-size: 48px
    p
      font-size: 24px

@media (min-width: 992px)
  .zhf-description
    background-size: 266px
    padding-left: 310px
    h1
      font-size: 64px
    p
      font-size: 28px

@media (min-width: 1200px)
  .content-container
    width: 1100px

  .navbar
    width: 1100px

.uploads
  .wrapper-inner
    vertical-align: top

.upload-form
  textarea
    font-size: 12px
    font-family: monospace

pre.code-preview
  text-align: left
  font-size: 12px
  text-shadow: none

h3.minified-url
  margin-top: 0px
  margin-bottom: 25px
  a
    color: #E82727

.ssl-is-off
  position: absolute
  top: 0
  left: 0
  background: image-url('ssl-is-off.png') no-repeat
  width: 131px
  height: 140px

.form-group
  .btn + .btn
    margin-left: 10px

form
  max-width: 300px
  margin-left: auto
  margin-right: auto

.form-group
  label + label
    margin-left: 15px

input.form-control.result-url
  font-family: $font-family-sans-serif
  padding: 3px 6px
  height: 28px
  min-width: 150px

.upload-status
  &.icon-success
    color: $brand-success
  &.icon-error
    color: $brand-danger

.upload-error
  color: $brand-danger
